<a
  class="event-item"
  {{on "click" (fn @onClick)}}
>
    <div class="event-item--title">
        <span>{{@event.title}}</span>
        <span class="rts-pill">{{@event.state}}</span>
    </div>
    <p class="event-item--description">
        {{@event.desc}}
    </p>
</a>