<div class="rts-form user-login">
  <RtsField @label="Email">
    <Input
      id="user-email"
      class="rts-field__input"
      @type="email"
      @value={{this.email}}
    />
  </RtsField>

  <RtsField @label="Password">
    <Input
      id="user-password"
      class="rts-field__input"
      @type="password"
      @value={{this.password}}
    />
  </RtsField>

  <button type="submit" class="rts-btn rts-btn--primary" {{on "click" this.login}}>
    Login
  </button>

  {{#if this.errorMessage}}
  <p>{{this.errorMessage}}</p>
  {{/if}}
</div>