$primary: "teal";
$accent: "light-green";
$warn: "pink";

@import 'ember-paper';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "header"
        "body"
        "footer";
    grid-template-rows: 50px 1fr 30px;

    .header {
        margin: auto 10px;
    }

    .body {
        .streams {
            .stream {
                video {
                    border: 10px solid black;
                    opacity: 0.6;
                    box-shadow: 12px 9px 13px rgba(255, 0, 255, 0.75);
                }
            }
        }

    }

    .footer {

    }
}