.rts-events {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  flex: 2;

  &--items {
    display: flex;
    flex-direction: column;
  }
}

.event {
  &-streams {
    &--header {
      font-size: 20px;
      padding-bottom: 10px;
    }
  }
}
