.rts-pill {
    font-size: 12px;
    // display: inline-block;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: $color-gray-dark;
    text-transform: capitalize;

    &--ok {
        background-color: $color-success;
    }

    &--bad,
    &--live {
        background-color: $color-primary;
    }

    &--info {
        background-color: $color-info;
    }

    &--warn,
    &--staging {
        background-color: $color-warn;
    }

    &--neutral {
        background-color: $color-gray-dark;

    }

    &--inverse {
        background-color: $color-white;
    }
}
