.rts-rooms {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  flex: 3;

  &--items {
    display: flex;
    flex-direction: column;
  }
}

// .room {
//   &-streams {
//     &--header {
//       font-size: 20px;
//       padding-bottom: 10px;
//     }
//   }
// }

// .event-streams {
//   margin-bottom: 45px;
// }
