<div class="rts-wrap">
  <header class="rts-hdr">
  </header>

  <div class="rts-nav">
    <PortalTarget @name="nav" />
  </div>

  <main class="rts-main">
    {{outlet}}

    <StateMachine></StateMachine>
  </main>

  <footer class="rts-ftr">
  </footer>
</div>