.user-login {
  &.rts-form {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    padding: 10px;

    .rts-field {
      &__label {
        background-color: $color-gray-darkest;
      }
    }
  }
}
