.user-list-item {
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid $color-black;
  color: $color-black;
  display: flex;
  height: 85px;
  min-width: 250px;
  padding: 15px;
  transition: background 400ms;

  &:hover {
    // mix-blend-mode: screen;
    border-bottom: none;
    box-shadow: 0px 0px 4px 1px;
    cursor: pointer;
    filter: brightness(85%);
  }

  &:active {
    box-shadow: 0px 0px 1px 1px;
    filter: brightness(75%);
  }

  &--bubble {
    align-items: center;
    background-color: $color-black;
    border-radius: 100%;
    color: $color-white;
    display: flex;
    height: 70px;
    justify-content: center;
    margin-right: 15px;
    width: 70px;
  }

  &--info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }
}
