<a
  class="room-item"
  {{on "click" @onClick}}
>
    <div class="room-item--title">
        <span>{{@room.title}}</span>
    </div>

    <p class="room-item--description">
        {{@room.desc}}
    </p>
</a>