<div class="rts-events">
  <div class="rts-events--items">
  {{#each this.model as |event|}}
    <EventItem
      @event={{event}}
      @onClick={{fn this.onEventClick event.id}}
    ></EventItem>
  {{else}}
  <p>No Events</p>
  {{/each}}
  </div>
</div>

{{outlet}}