.rts-btn {
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    appearance: none;
    border-radius: 4px;
    border: 2px solid transparent;
    height: 34px;
    min-width: 34px;
    padding: 3px 34px;
    font-size: 14px;
    background-color: $color-gray-dark;
    color: $color-white;
    transition: color 0.25s, background-color 0.25s;
    text-decoration: none;
    box-shadow: 2px 2px 6px 0px $color-black;

    &:hover {
        color: transparentize($color-white, 0.25);
        box-shadow: 1px 1px 4px 0px $color-black;
    }

    &:active {
        color: $color-white;
        background-color: transparentize($color-gray-dark, 0.15);
        box-shadow: none;
    }

    &--icon {
        padding: 3px;
    }

    &--sm {
        height: 26px;
        min-width: 26px;
        padding: 2px 26px;

        &.rts-btn--icon {
            padding: 2px;
        }
    }

    &--lg {
        height: 48px;
        min-width: 48px;
        padding: 4px 48px;

        &.rts-btn--icon {
            padding: 4px;
        }
    }

    &--lg {

    }

    &--primary {
        background-color: $color-primary;

        &:hover {
            color: transparentize($color-white, 0.25);
        }

        &:active {
            color: $color-white;
            background-color: transparentize($color-primary, 0.15);
        }
    }

    &--secondary {
        background-color: $color-white;
        color: $color-black;

        &:hover {
            color: transparentize($color-black, 0.25);
        }

        &:active {
            color: $color-black;
            background-color: transparentize($color-white, 0.15);
        }
    }

    &--alert {
        background-color: $color-alert;

        &:hover {
            color: transparentize($color-white, 0.25);
        }

        &:active {
            color: $color-white;
            background-color: transparentize($color-alert, 0.15);
        }
    }
}

a.rts-btn {
    display: block;
    text-align: center;
    height: auto;
    padding: 10px;
}
