$color-primary: #D52B1E;
$color-info: #0088CE;
$color-alert: #F38877;
$color-warn: #F3A157;
$color-success: #00AC3E;
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-darkest: #282828;
$color-gray-dark: #333333;
$color-gray: #747676;
$color-gray-light: #D8DADA;
$color-gray-lightest: #F6F6F6;
