<div class="rts-form__item">
  <div class="rts-field {{if @type (concat "rts-field--" @type) ''}}">
    <div class="rts-field__bin">
      {{#if @label}}
      <label class="rts-field__label">
        {{@label}}
      </label>
      {{/if}}
      {{yield}}
    </div>
  </div>
</div>