<div class="users">
  <div class="users--items">
    {{#each this.model as |user|}}
      <UserListItem
        @user={{user}}
        @onClick={{fn this.onUserClick user.id}}
      ></UserListItem>
    {{/each}}
  </div>
</div>

{{outlet}}

{{#if (eq this.router.currentRouteName "authenticated.admin.users.index")}}
  <LinkTo
    @route="authenticated.admin.users.new"
    class="users--add-user rts-btn rts-btn--primary"
  >
    +
  </LinkTo>
{{/if}}