<div class="users">
  <div class="users--items">
    {{#each this.model as |user|}}
      <UserListItem
        @user={{user}}
        @onClick={{fn this.onUserClick user.id}}
      ></UserListItem>
    {{/each}}
  </div>
</div>