<div class="member-stream"  {{did-insert onInsert}}>
    <video
      playsinline
      autoplay
    />
    <span class="member-stream__screenName">
      {{@memberStream.screenName}}
    </span>
</div>